<!--活跃用户数量-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日新增</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">周新增</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月新增</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<% include labels.ejs %>
<script type="text/javascript">
//线型图表
$(function(){
    labels();//调用labels day_labels week_labels month_labels
    var day_active  = [90000,90000,98000,90000,97000,99000,90000,90000,98000,92000,97000,99000,90000,90000,98000,
        90000,97000,99000,90000,97000,98000,92000,97000,99000,92000,93000,96000,91000,94000,94000,92000];

    var data = [
        {
            name : '日新增活跃用户数量',
            value:day_active,
            color:'#0d8ecf',
            line_width:2
        }
    ];
    var options = {
        render : 'day_canvasDiv',
        data: data,
        align:'center',
        title : '日新增活跃用户数量',
        subtitle : '',
        footnote : '数据来源：活跃用户数量',
        width : 1100,
        height : 400,
        tip:{
            enable:true,
            shadow:true
        },
        legend : {
            enable : true,
            row:1,//设置在一行上显示，与column配合使用
            column : 'max',
            valign:'top',
            sign:'bar',
            background_color:null,//设置透明背景
            offsetx:-80,//设置x轴偏移，满足位置需要
            border : true
        },
        crosshair:{
            enable:true,
            line_color:'#62bce9'
        },
        sub_option : {
            label:false,
            point_hollow : false
        },
        coordinate:{
            width:900,
            height:240,
            axis:{
                color:'#9f9f9f',
                width:[0,0,2,2]
            },
            grids:{
                vertical:{
                    way:'share_alike',
                    value:30//割线
                }
            },
            scale:[{
                position:'left',
                start_scale:0,
                end_scale:120000,//设置结束刻度
                scale_space:20000,//设置刻度间距
                scale_size:2,
                scale_color:'#9f9f9f'

            },{
                position:'bottom',
                labels:day_labels
            }]
        }
    };

    $.ajax({
        url:'/newActiveUsers?option=day',
        type:'get',
        dataType:'json',
        async:false,
        success:function( result ){
            var data = [
                {
                    name : '日新增活跃用户数量',
                    value:result.data,
                    color:'#0d8ecf',
                    line_width:2
                }
            ];
            options.data = data;
            var line = new iChart.LineBasic2D( options );
            line.draw();
        }
    });
    $('#day').on('click',function(){
        $('.day_canvasDiv').css('display','block');
        $('.week_canvasDiv').css('display','none');
        $('.month_canvasDiv').css('display','none');
        $('.active_canvasDiv').css('display','none');
    });

    $('#week').on('click',function(){
        $('.day_canvasDiv').css('display','none');
        $('.week_canvasDiv').css('display','block');
        $('.month_canvasDiv').css('display','none');
        $('.active_canvasDiv').css('display','none');
        $.ajax({
            url:'/newActiveUsers?option=week',
            type:'get',
            dataType:'json',
            async:false,
            success:function( result ){
                var data = [
                    {
                        name : '周新增活跃用户数量',
                        value:result.data,
                        color:'#0d8ecf',
                        line_width:2
                    }
                ];
                options.data = data;
                options.render = 'week_canvasDiv';
                options.title = '周新增活跃用户数量';
                options.coordinate.grids.vertical.value = 51;
                options.coordinate.scale[1].labels = week_labels;
                var line = new iChart.LineBasic2D( options );

                //开始画图
                line.draw();
            }
        });
    });


    $('#month').on('click',function(){
        $('.month_canvasDiv').css('display','block');
        $('.week_canvasDiv').css('display','none');
        $('.day_canvasDiv').css('display','none');
        $('.active_canvasDiv').css('display','none');
        //动态调用数据
        $.ajax({
            url:'/newActiveUsers?option=month',
            type:'get',
            dataType:'json',
            async:false,
            success:function( result ){
                var data = [
                    {
                        name : '月新增活跃用户数量',
                        value:result.data,
                        color:'#0d8ecf',
                        line_width:2
                    }
                ];
                options.data = data;
                options.render = 'month_canvasDiv';
                options.title = '月新增活跃用户数量';
                options.coordinate.grids.vertical.value = 11;
                options.coordinate.scale[1].labels = month_labels;
                var line = new iChart.LineBasic2D( options );
                //开始画图
                line.draw();
            }
        });
    });

});

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='day_canvasDiv'></div>
    </div>

    <div class="week_canvasDiv" style="display: none">
        <div id='week_canvasDiv'></div>
    </div>

    <div class="month_canvasDiv" style="display: none">
        <div id='month_canvasDiv'></div>
    </div>

</div>

<% include footer.ejs %>