<!--游戏登陆次数-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日登陆</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">周登陆</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月登陆</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        //初始化日期插件
        $("#datePicker").datepicker( dateOption );
        var options = {
            render : 'day_canvasDiv',
            data: '',
            align:'center',
            title : '登陆游戏次数',
            subtitle : '',
            footnote : '数据来源：登陆游戏次数',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };

        $('#day').on('click',function(){
            $('.day_canvasDiv').css('display', 'block');
            $('.week_canvasDiv').css('display', 'none');
            $('.month_canvasDiv').css('display', 'none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url:'/loginCount',
                type: 'POST',
                data:{date:date,servers:servers,option:'day'},
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '每日登陆次数',
                            value:result.day,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '日均登陆次数',
                            value:result.dayAver,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                }
            });
        });

        $('#week').on('click',function() {
            $('.day_canvasDiv').css('display', 'none');
            $('.week_canvasDiv').css('display', 'block');
            $('.month_canvasDiv').css('display', 'none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url:'/loginCount',
                type: 'POST',
                data:{date:date,servers:servers,option:'week'},
                dataType:'json',
                async:false,
                success:function( result ){
                    console.log('result:',result);
                    var data = [
                        {
                            name : '每周登陆次数',
                            value:result.week,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '周均登陆次数',
                            value:result.weekAver,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'week_canvasDiv';
                    options.title = '每周登陆游戏次数/周均登陆游戏次数';
                    options.coordinate.grids.vertical.value = 51;
                    options.coordinate.scale[1].labels = week_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                }
            });
        });

        $('#month').on('click',function() {
            $('.month_canvasDiv').css('display', 'block');
            $('.week_canvasDiv').css('display', 'none');
            $('.day_canvasDiv').css('display', 'none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url:'/loginCount',
                type: 'POST',
                data:{date:date,servers:servers,option:'month'},
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '每月登陆次数',
                            value:result.month,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '月均登陆次数',
                            value:result.monthAver,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'month_canvasDiv';
                    options.title = '每月登陆游戏次数/月均登陆游戏次数';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );
                    line.draw();
                }
            });
        });
    });

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='day_canvasDiv'></div>
    </div>

    <div class="week_canvasDiv" style="display: none">
        <div id='week_canvasDiv'></div>
    </div>

    <div class="month_canvasDiv" style="display: none">
        <div id='month_canvasDiv'></div>
    </div>
</div>

<% include footer.ejs %>