<!--用户使用时长-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日时长</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">周时长</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月时长</button>
        </div>
        <div class="col-lg-1">
            <button name="day_active" id="day_active">活跃日时长</button>
        </div>
        <div class="col-lg-1">
            <button name="week_active" id="week_active">活跃周时长</button>
        </div>
        <div class="col-lg-1">
            <button name="month_active" id="month_active">活跃月时长</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_day" id="charge_day">日付费时长</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_week" id="charge_week">周付费时长</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_month" id="charge_month">月付费时长</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        var click    = [90000,90000,98000,90000,97000,99000,90000,90000,98000,92000,97000,99000,90000,90000,98000,90000,97000,99000,90000,97000,98000,92000,97000,99000,92000,93000,96000,91000,94000,94000,92000],
            register = [70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000];

        var data = [
            {
                name : '每日使用时长',
                value:click,
                color:'#0d8ecf',
                line_width:2
            },
            {
                name : '日均使用时长',
                value:register,
                color:'#66FF33',
                line_width:2
            }
        ];

        var day_labels = [];
        var week_labels = [];
        var month_labels = [];
        for(var i=0;i<31;i++){
            day_labels[i] = i+1;
        }
        for(var i=0;i<52;i++){
            week_labels[i] = i+1;
        }
        for(var i=0;i<12;i++){
            month_labels[i] = i+1;
        }

        var options = {
            render : 'day_canvasDiv',
            data: data,
            align:'center',
            title : '每日及日均使用时长',
            subtitle : '平均每日的人数(访问量单位：万)',
            footnote : '数据来源：每日及日均使用时长',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };
        var line = new iChart.LineBasic2D( options );

        //开始画图
        line.draw();

        $('#day').on('click',function(){
            $('.day_canvasDiv').css('display','block');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
        });
        $('#week').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','block');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'week_canvasDiv';
            options.title = '每周及周均使用时长';
            options.coordinate.grids.vertical.value = 51;
            options.coordinate.scale[1].labels = week_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();

        });
        $('#month').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','block');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'month_canvasDiv';
            options.title = '每月及月均使用时长';
            options.coordinate.grids.vertical.value = 11;
            options.coordinate.scale[1].labels = month_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#day_active').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','block');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'day_active_canvasDiv';
            options.title = '每日及日均活跃用户使用时长';
            options.coordinate.grids.vertical.value = 30;
            options.coordinate.scale[1].labels = day_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#week_active').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','block');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'week_active_canvasDiv';
            options.title = '每周及周均活跃用户使用时长';
            options.coordinate.grids.vertical.value = 51;
            options.coordinate.scale[1].labels = week_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#month_active').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','block');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'month_active_canvasDiv';
            options.title = '每月及月均活跃用户使用时长';
            options.coordinate.grids.vertical.value = 11;
            options.coordinate.scale[1].labels = month_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#charge_day').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','block');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'charge_day_canvasDiv';
            options.title = '付费活跃用户每日及日均使用时长';
            options.coordinate.grids.vertical.value = 30;
            options.coordinate.scale[1].labels = day_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#charge_week').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','block');
            $('.charge_month_canvasDiv').css('display','none');
            options.render = 'charge_week_canvasDiv';
            options.title = '付费活跃用户每日及日均使用时长';
            options.coordinate.grids.vertical.value = 51;
            options.coordinate.scale[1].labels = week_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
        $('#charge_month').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','none');
            $('.day_active_canvasDiv').css('display','none');
            $('.week_active_canvasDiv').css('display','none');
            $('.month_active_canvasDiv').css('display','none');
            $('.charge_day_canvasDiv').css('display','none');
            $('.charge_week_canvasDiv').css('display','none');
            $('.charge_month_canvasDiv').css('display','block');
            options.render = 'charge_month_canvasDiv';
            options.title = '付费活跃用户每月及月均使用时长';
            options.coordinate.grids.vertical.value = 11;
            options.coordinate.scale[1].labels = month_labels;
            var line = new iChart.LineBasic2D( options );

            //开始画图
            line.draw();
        });
    });

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='day_canvasDiv'></div>
    </div>

    <div class="week_canvasDiv" style="display: none">
        <div id='week_canvasDiv'></div>
    </div>

    <div class="month_canvasDiv" style="display: none">
        <div id='month_canvasDiv'></div>
    </div>

    <div class="day_active_canvasDiv" style="display: none">
        <div id='day_active_canvasDiv'></div>
    </div>

    <div class="week_active_canvasDiv" style="display: none">
        <div id='week_active_canvasDiv'></div>
    </div>

    <div class="month_active_canvasDiv" style="display: none">
        <div id='month_active_canvasDiv'></div>
    </div>

    <div class="charge_day_canvasDiv" style="display: none">
        <div id='charge_day_canvasDiv'></div>
    </div>

    <div class="charge_week_canvasDiv" style="display: none">
        <div id='charge_week_canvasDiv'></div>
    </div>

    <div class="charge_month_canvasDiv" style="display: none">
        <div id='charge_month_canvasDiv'></div>
    </div>

</div>

<% include footer.ejs %>