<!--高活跃用户数-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="day" id="day">日一次</button>
        </div>
        <div class="col-lg-1">
            <button name="week" id="week">周一次</button>
        </div>
        <div class="col-lg-1">
            <button name="month" id="month">月一次</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<% include labels.ejs %>
<script type="text/javascript">
    //线型图表
    labels();//调用labels day_labels week_labels month_labels
    $(function(){
        var click    = [90000,90000,98000,90000,97000,99000,90000,90000,98000,92000,97000,99000,90000,90000,98000,90000,97000,99000,90000,97000,98000,92000,97000,99000,92000,93000,96000,91000,94000,94000,92000],
            register = [70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000,90000,87000,76000,78000,90000,70000,78000,90000,87000,89000,78000,78000];

        var data = [
            {
                name : '本日高活跃用户',
                value:click,
                color:'#0d8ecf',
                line_width:2
            },
            {
                name : '日新增高活跃用户数',
                value:register,
                color:'#66FF33',
                line_width:2
            }
        ];
        var options = {
            render : 'day_canvasDiv',
            data: data,
            align:'center',
            title : '高活跃用户数及日新增高活跃用户数',
            subtitle : '',
            footnote : '数据来源：用户活跃',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };
        var line = new iChart.LineBasic2D(options);

        //开始画图
        line.draw();
        $('#day').on('click',function(){
            window.location.href = '/activeUsers/2-6';
//            $('.day_canvasDiv').css('display','block');
//            $('.week_canvasDiv').css('display','none');
//            $('.month_canvasDiv').css('display','none');

        });
        $('#week').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','block');
            $('.month_canvasDiv').css('display','none');

            //动态调用数据
            $.ajax({
                url:'/highActiveUsers?option=week',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '本周高活跃用户',
                            value:result.week,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '周新增高活跃用户数',
                            value:result.weekAver,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    //alert('设置权限成功');
                    options.data = data;
                    options.render = 'week_canvasDiv';
                    options.title = '每周及周均使用时长';
                    options.coordinate.grids.vertical.value = 51;
                    options.coordinate.scale[1].labels = week_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();
                }
            });
        });
        $('#month').on('click',function(){
            $('.day_canvasDiv').css('display','none');
            $('.week_canvasDiv').css('display','none');
            $('.month_canvasDiv').css('display','block');

            //动态调用数据
            $.ajax({
                url:'/highActiveUsers?option=month',
                type:'get',
                dataType:'json',
                async:false,
                success:function( result ){
                    var data = [
                        {
                            name : '本月高活跃用户',
                            value:result.month,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '月新增高活跃用户数',
                            value:result.monthAver,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    //alert('设置权限成功');
                    options.data = data;
                    options.render = 'month_canvasDiv';
                    options.title = '每月及月均使用时长';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();

                    //开始画图
                    line.draw();
                }
            });
        });
    });

</script>
<div class="col-lg-12">
    <div class="day_canvasDiv">
        <div id='day_canvasDiv'></div>
    </div>

    <div class="week_canvasDiv">
        <div id='week_canvasDiv'></div>
    </div>

    <div class="month_canvasDiv">
        <div id='month_canvasDiv'></div>
    </div>



</div>

<% include footer.ejs %>