<!--回流活跃用户-->
<% include nav.ejs %>
<% include select_date.ejs %>
<% include save_print.ejs %>

<script type="text/javascript">
    //周回流用户数据
    $(function(){
        var labels = [];
        for(var i=0;i<52;i++){
            labels[i] = i + 1;
        }
        var options = {
            render : 'columnmulti2d',
            data: '',
            labels:labels,
            title : '周用户回流数据',
            subtitle : '单位:千',
            footnote : '数据来源：周用户回流数据',
            width : 1400,
            height : 400,
            background_color : '#ffffff',
            legend:{
                enable:true,
                background_color : null,
                border : {
                    enable : false
                }
            },
            coordinate:{
                background_color : '#f1f1f1',
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:0,
                    scale_space:0
                }],
                width:1200,
                height:260
            }
        };
        $.ajax({
            url:'/backUser',
            type:'get',
            dataType:'json',
            async:false,
            success:function( result ){
                var data = [
                    {
                        name : '回流活跃用户',
                        value:result.week,
                        color:'#1385a5'
                    },
                    {
                        name : '回流高活用户',
                        value:result.weekAver,
                        color:'#c56966'
                    }
                ];
                options.data = data;
                var chart = new iChart.ColumnMulti2D(options);
                chart.draw();
                var html = "";
                html += "<tr>";
                html += "<td>回流活跃用户</td>";
                if(result.week.length){
                    result.week.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                }
                html += "</tr>";
                html += "<tr>";
                html += "<td>回流高活用户</td>";
                if(result.weekAver.length){
                    result.weekAver.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                }
                html += "</tr>";
                $('tbody').empty().html(html);
            }
        });

    });
</script>
<div class="col-lg-12">
    <div id='columnmulti2d'></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <% for(var i=1;i<53;i++){ %>
            <th><%=i%></th>
            <% } %>
        </tr>

        </thead>
        <tbody></tbody>
    </table>

</div>

<% include footer.ejs %>
