<!--用户流失的任务分布-->
<% include nav.ejs %>
<% include select_date.ejs %>
<% include save_print.ejs %>
<br>
<div class="row">
<div class="col-lg-12">
    <div id='canvasDiv'></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>任务id</th>
            <th>任务名称</th>
            <th>人数</th>
            <th>占比</th>
        </tr>

        </thead>
        <tbody></tbody>
    </table>

</div>
</div>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/taskRank',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var html = "";

                if(result.task.length){
                    result.task.forEach(function(a){
                        html += "<tr>";
                        html += "<td>"+ a.id +"</td>";
                        html += "<td>"+ a.taskId +"</td>";
                        html += "<td>"+ a.taskName +"</td>";
                        html += "<td>"+ a.personCount +"</td>";
                        html += "<td>"+ a.percent +"</td>";
                        html += "</tr>";
                    });
                }
                $('tbody').empty().html(html);
            }
        });
    });
</script>
<% include footer.ejs %>