<!--充值消费金额-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="dayLine" id="dayLine">每日曲线</button>
        </div>
        <div class="col-lg-1">
            <button name="dayData" id="dayData">每日数据</button>
        </div>
        <div class="col-lg-1">
            <button name="monthLine" id="monthLine">每月曲线</button>
        </div>
        <div class="col-lg-1">
            <button name="monthData" id="monthData">每月数据</button>
        </div>
        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        //初始化日期插件
        $("#datePicker").datepicker( dateOption );
        var options = {
            render : 'day_canvasDiv',
            data: '',
            align:'center',
            title : '每日充值消费金额',
            subtitle : '',
            footnote : '数据来源：充值消费金额',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:30//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:day_labels
                }]
            }
        };

        $('#dayLine').on('click',function(){
            $('.dayLine').css('display','block');
            $('.dayData').css('display','none');
            $('.monthLine').css('display','none');
            $('.monthData').css('display','none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url: '/chargeConsume',
                type: 'POST',
                data:{date:date,servers:servers,option:'dayLine'},
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '每日用户充值金额',
                            value:result.charge,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '每日用户消费金额',
                            value:result.consume,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'day_canvasDiv';
                    options.title = '每日充值和消费金额';
                    options.coordinate.grids.vertical.value = 30;
                    options.coordinate.scale[1].labels = day_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();
                }
            });
        });
        $('#dayData').on('click',function(){
            $('.dayLine').css('display','none');
            $('.dayData').css('display','block');
            $('.monthLine').css('display','none');
            $('.monthData').css('display','none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url: '/chargeConsume',
                type: 'POST',
                data:{date:date,servers:servers,option:'dayData'},
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log('result:',result);
                    var html = "";

                    if(result.data.length){
                        result.data.forEach(function( data ){
                            html += "<tr>";
                            html += "<td>"+ data.server +"</td>";
                            html += "<td>"+ data.a +"</td>";
                            html += "<td>"+ data.b +"</td>";
                            html += "<td>"+ data.c +"</td>";
                            html += "<td>"+ data.d +"</td>";
                            html += "<td>"+ data.e +"</td>";
                            html += "<td>"+ data.f +"</td>";
                            html += "<td>"+ data.g +"</td>";
                            html += "<td>"+ data.total +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });

        });
        $('#monthLine').on('click',function(){
            $('.dayLine').css('display','none');
            $('.dayData').css('display','none');
            $('.monthLine').css('display','block');
            $('.monthData').css('display','none');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url: '/chargeConsume',
                type: 'POST',
                data:{date:date,servers:servers,option:'monthLine'},
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '每月用户充值金额',
                            value:result.charge,
                            color:'#0d8ecf',
                            line_width:2
                        },
                        {
                            name : '每月用户消费金额',
                            value:result.consume,
                            color:'#66FF33',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'month_canvasDiv';
                    options.title = '每月充值和消费金额';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = month_labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();
                }
            });
        });
        $('#monthData').on('click',function(){
            $('.dayLine').css('display','none');
            $('.dayData').css('display','none');
            $('.monthLine').css('display','none');
            $('.monthData').css('display','block');
            var servers = $('#servers').val();
            var date = $('#datePicker').val();
            if(!servers){
                alert('请选择服务器');
                return false;
            }
            if(!date.length){
                alert('请选择日期');
                return false;
            }
            $.ajax({
                url: '/chargeConsume',
                type: 'POST',
                data:{date:date,servers:servers,option:'monthData'},
                dataType: 'json',
                async: false,
                success: function (result) {
                    console.log('result:',result);
                    var html = "";
                    if(result.data.length){
                        result.data.forEach(function( data ){
                            html += "<tr>";
                            html += "<td>"+ data.server +"</td>";
                            html += "<td>"+ data.a +"</td>";
                            html += "<td>"+ data.b +"</td>";
                            html += "<td>"+ data.c +"</td>";
                            html += "<td>"+ data.d +"</td>";
                            html += "<td>"+ data.e +"</td>";
                            html += "<td>"+ data.f +"</td>";
                            html += "<td>"+ data.total +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });
        });


    });

</script>
<div class="col-lg-12">
    <div class="dayLine">
        <div id='day_canvasDiv'></div>
    </div>

    <div class="dayData" style="display: none">
        <table id="dayData_table" class="table table-bordered">
            <thead>
            <tr></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="monthLine" style="display: none">
        <div id='month_canvasDiv'></div>
    </div>

    <div class="monthData" style="display: none">
        <table id="monthData_table" class="table table-bordered">
            <thead>
            <tr></tr>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
<script>
    $(document).ready(function(){
        var date = new Date();
        console.log('year:',date.getFullYear());
        console.log('month:',date.getMonth()+1);
        console.log('day:',date.getDate());
        var day_tb = document.getElementById("dayData_table");
        var month_tb = document.getElementById("monthData_table");
        var day = date.getDate();
        var month = date.getMonth()+1;
        var monthMulti = month / 6;
        var dayMulti = day / 7;
        if( dayMulti > 0){
            //每天更新数据
            day_tb.removeChild(day_tb.children[0]);
            console.log('8-9-10-11-12-13-14');
            var html = "<th>服务器/日</th>";
            html += "<th>"+month+"."+String(day)+"</th>";
            html += "<th>"+month+"."+String(day-1)+"</th>";
            html += "<th>"+month+"."+String(day-2)+"</th>";
            html += "<th>"+month+"."+String(day-3)+"</th>";
            html += "<th>"+month+"."+String(day-4)+"</th>";
            html += "<th>"+month+"."+String(day-5)+"</th>";
            html += "<th>"+month+"."+String(day-6)+"</th>";
            html += "<th>总计</th>";
            var th = document.createElement("thead");
            th.innerHTML = html;
            day_tb.insertBefore(th, day_tb.children[0]);

        }
        if( monthMulti > 0){
            //每月更新数据
            month_tb.removeChild(month_tb.children[0]);
            console.log('8-9-10-11-12-13-14');
            var html = "<th>服务器/</th>";
            html += "<th>"+String(month)+"</th>";
            html += "<th>"+String(month-1)+"</th>";
            html += "<th>"+String(month-2)+"</th>";
            html += "<th>"+String(month-3)+"</th>";
            html += "<th>"+String(month-4)+"</th>";
            html += "<th>"+String(month-5)+"</th>";
            html += "<th>总计</th>";
            var th = document.createElement("thead");
            th.innerHTML = html;
            month_tb.insertBefore(th, month_tb.children[0]);

        }
    });
</script>
<% include footer.ejs %>