<!--付费用户流失-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="lost_back" id="lost_back">流失和回流</button>
        </div>
        <div class="col-lg-1">
            <button name="lost_per" id="lost_per">流失比例</button>
        </div>

        <% include save_print.ejs %>
    </div>
</div>
<script type="text/javascript">
    //线型图表
    $(function(){
        var labels = []; //= ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"];
        for(var i=0;i<12;i++){
            labels[i] = i+1;
        }
        var options = {
            render : 'lost_back_canvasDiv',
            align:'center',
            title : '流失回流付费用户数',
            subtitle : '平均每月的人数(访问量单位：万)',
            footnote : '数据来源：流失回流付费用户数',
            width : 1100,
            height : 400,
            tip:{
                enable:true,
                shadow:true
            },
            legend : {
                enable : true,
                row:1,//设置在一行上显示，与column配合使用
                column : 'max',
                valign:'top',
                sign:'bar',
                background_color:null,//设置透明背景
                offsetx:-80,//设置x轴偏移，满足位置需要
                border : true
            },
            crosshair:{
                enable:true,
                line_color:'#62bce9'
            },
            sub_option : {
                label:false,
                point_hollow : false
            },
            coordinate:{
                width:900,
                height:240,
                axis:{
                    color:'#9f9f9f',
                    width:[0,0,2,2]
                },
                grids:{
                    vertical:{
                        way:'share_alike',
                        value:11//割线
                    }
                },
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:120000,//设置结束刻度
                    scale_space:20000,//设置刻度间距
                    scale_size:2,
                    scale_color:'#9f9f9f'

                },{
                    position:'bottom',
                    labels:labels
                }]
            }
        };
        $.ajax({
            url: '/chargeUserLost?option=lostBack',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var data = [
                    {
                        name : '流失人数',
                        value:result.data1,
                        color:'#0d8ecf',
                        line_width:2
                    },
                    {
                        name : '回流人数',
                        value:result.data2,
                        color:'#66FF33',
                        line_width:2
                    }
                ];
                options.data = data;
                options.render = 'lost_back_canvasDiv';
                options.title = '流失回流付费用户数';
                options.coordinate.grids.vertical.value = 11;
                options.coordinate.scale[1].labels = labels;
                var line = new iChart.LineBasic2D( options );
                line.draw();
                var html = "";

                if(result.data1.length){
                    html += "<tr>";
                    html += "<td>流失人数</td>";
                    result.data1.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                    html += "</tr>";
                }
                if(result.data2.length){
                    html += "<tr>";
                    html += "<td>回流人数</td>";
                    result.data2.forEach(function(a){
                        html += "<td>"+ a +"</td>";
                    });
                    html += "</tr>";
                }
                $('tbody').empty().html(html);
            }
        });

        $('#lost_back').on('click',function(){
            $('.lost_back_canvasDiv').css('display','block');
            $('.lost_per_canvasDiv').css('display','none');
        });
        $('#lost_per').on('click',function(){
            $('.lost_back_canvasDiv').css('display','none');
            $('.lost_per_canvasDiv').css('display','block');
            $.ajax({
                url: '/chargeUserLost?option=lostPercent',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = [
                        {
                            name : '付费用户流失比例',
                            value:result.data,
                            color:'#0d8ecf',
                            line_width:2
                        }
                    ];
                    options.data = data;
                    options.render = 'lost_per_canvasDiv';
                    options.title = '付费用户流失比例';
                    options.coordinate.grids.vertical.value = 11;
                    options.coordinate.scale[1].labels = labels;
                    var line = new iChart.LineBasic2D( options );

                    //开始画图
                    line.draw();
                    var html = "";

                    if(result.data.length){
                        html += "<tr>";
                        html += "<td>付费用户流失比例</td>";
                        result.data.forEach(function(a){
                            html += "<td>"+ a +"</td>";
                        });
                        html += "</tr>";
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
    });

</script>
<div class="col-lg-12">
    <div class="lost_back_canvasDiv">
        <div id='lost_back_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="lost_per_canvasDiv" style="display: none">
        <div id='lost_per_canvasDiv'></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <% for(var i=1;i<13;i++){ %>
                <th><%=i%></th>
                <% } %>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>付费用户流失比例</td>
                <% ARPPU.forEach(function( a ){%>
                <td><%= a %></td>
                <%});%>
            </tr>

            </tr>
            </tbody>
        </table>
    </div>


</div>

<% include footer.ejs %>