<!--付费用户流失-->
<% include nav.ejs %>
<% include select_date.ejs %>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <button name="first_charge" id="first_charge">首次付费</button>
        </div>
        <div class="col-lg-1">
            <button name="store" id="store">商城</button>
        </div>
        <div class="col-lg-1">
            <button name="ranking" id="ranking">排行榜</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_grade" id="charge_grade">充值等级</button>
        </div>
        <div class="col-lg-1">
            <button name="charge_interval" id="charge_interval">付费区间</button>
        </div>

        <% include save_print.ejs %>
    </div>
</div>
<br><br>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/otherCount?option=firstCharge',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var data = result.data;
                var html = "";
                if(data.length){
                    data.forEach(function(a){
                        html += "<tr>";
                        html += "<td>"+ a.id +"</td>";
                        html += "<td>"+ a.pro +"</td>";
                        html += "<td>"+ a.subPro +"</td>";
                        html += "<td>"+ a.per +"</td>";
                        html += "</tr>";
                    });
                }
                $('tbody').empty().html(html);
            }
        });
        $('#first_charge').on('click',function(){
            $('.table_first_charge').css('display','block');
            $('.table_store').css('display','none');
            $('.table_ranking').css('display','none');
            $('.table_charge_grade').css('display','none');
            $('.table_charge_interval').css('display','none');
        });
        $('#store').on('click',function(){
            $('.table_first_charge').css('display','none');
            $('.table_store').css('display','block');
            $('.table_ranking').css('display','none');
            $('.table_charge_grade').css('display','none');
            $('.table_charge_interval').css('display','none');
            $.ajax({
                url: '/otherCount?option=store',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = result.data;
                    var html = "";
                    if(data.length){
                        data.forEach(function(a){
                            html += "<tr>";
                            html += "<td>"+ a.id +"</td>";
                            html += "<td>"+ a.propName +"</td>";
                            html += "<td>"+ a.firstBuyCount +"</td>";
                            html += "<td>"+ a.firstBuyValue +"</td>";
                            html += "<td>"+ a.firstBuyPer +"</td>";
                            html += "<td>"+ a.totalBuyCount +"</td>";
                            html += "<td>"+ a.totalBuyValue +"</td>";
                            html += "<td>"+ a.totalBuyPer +"</td>";
                            html += "<td>"+ a.totalBuyValuePer +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
        $('#ranking').on('click',function(){
            $('.table_first_charge').css('display','none');
            $('.table_store').css('display','none');
            $('.table_ranking').css('display','block');
            $('.table_charge_grade').css('display','none');
            $('.table_charge_interval').css('display','none');
            $.ajax({
                url: '/otherCount?option=ranking',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = result.data;
                    var html = "";
                    if(data.length){
                        data.forEach(function(a){
                            html += "<tr>";
                            html += "<td>"+ a.rank +"</td>";
                            html += "<td>"+ a.playerName +"</td>";
                            html += "<td>"+ a.chargeValue +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
        $('#charge_grade').on('click',function(){
            $('.table_first_charge').css('display','none');
            $('.table_store').css('display','none');
            $('.table_ranking').css('display','none');
            $('.table_charge_grade').css('display','block');
            $('.table_charge_interval').css('display','none');
            $.ajax({
                url: '/otherCount?option=chargeGrade',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = result.data;
                    var html = "";
                    if(data.length){
                        data.forEach(function(a){
                            html += "<tr>";
                            html += "<td>"+ a.grade +"</td>";
                            html += "<td>"+ a.chargeCount +"</td>";
                            html += "<td>"+ a.per +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
        $('#charge_interval').on('click',function(){
            $('.table_first_charge').css('display','none');
            $('.table_store').css('display','none');
            $('.table_ranking').css('display','none');
            $('.table_charge_grade').css('display','none');
            $('.table_charge_interval').css('display','block');
            $.ajax({
                url: '/otherCount?option=chargeInterval',
                type: 'get',
                dataType: 'json',
                async: false,
                success: function (result) {
                    var data = result.data;
                    var html = "";
                    if(data.length){
                        data.forEach(function(a){
                            html += "<tr>";
                            html += "<td>"+ a.id +"</td>";
                            html += "<td>"+ a.interval +"</td>";
                            html += "<td>"+ a.per +"</td>";
                            html += "</tr>";
                        });
                    }
                    $('tbody').empty().html(html);
                }
            });
        });
    });
</script>
<div class="col-lg-12">
    <div class="table_first_charge">
        <center><font color="red">首次付费</font></center>
        <table id="table_first_charge" class="table table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>项目</th>
                <th>子项目</th>
                <th>占比</th>
            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="table_store" style="display: none">
        <center><font color="red">商城</font></center>
        <table id="table_store" class="table table-bordered" >
            <thead>
            <tr>
                <th>编号</th>
                <th>道具名称</th>
                <th>首次购买次数</th>
                <th>首次购买金额</th>
                <th>首次购买金额占比</th>
                <th>总购买次数</th>
                <th>总购买总金额</th>
                <th>总购买次数占比</th>
                <th>总购买总金额占比</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="table_ranking" style="display: none">
        <center><font color="red">排行榜</font></center>
        <table id="table_ranking" class="table table-bordered" >
            <thead>
            <tr>
                <th>次数</th>
                <th>玩家名称</th>
                <th>充值金额</th>

            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="table_charge_grade" style="display: none">
        <center><font color="red">充值等级</font></center>
        <table id="table_charge_grade" class="table table-bordered" >
            <thead>
            <tr>
                <th>等级</th>
                <th>付费人数</th>
                <th>占比</th>

            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="table_charge_interval" style="display: none">
        <center><font color="red">付费区间</font></center>
        <table id="table_charge_interval" class="table table-bordered" >
            <thead>
            <tr>
                <th>编号</th>
                <th>区间</th>
                <th>占比</th>

            </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

<% include footer.ejs %>