<!--用户推广成本-->
<% include nav.ejs %>

<script type="text/javascript" src="/js/ichartjs/ichart.1.2.min.js"></script>
<link rel="stylesheet" href="/css/ichartjs/demo.css" type="text/css"/>
<% include select_date.ejs %>
<% include save_print.ejs %>

<script type="text/javascript">
    //
    $(function(){
        var cost = [45,52,54,74,90,84,45,52,54,74,90,84,45,52,54,74,90,84,45,52,54,74,90,84,84,45,52,54,74,90,84];
        var output = [60,80,105,125,108,120,60,80,105,125,108,120,60,80,105,125,108,120,60,80,105,125,108,120,120,60,80,105,125,108,120];
        var data = [
            {
                name : '单个活跃用户推广成本',
                value:cost,
                color:'#1385a5'
            },
            {
                name : '单个付费用户推广成本',
                value:output,
                color:'#c56966'
            }
        ];
        var labels = [];
        for(var i=0;i<31;i++){
            labels[i] = i + 1;
        }
        var chart = new iChart.ColumnMulti2D({
            render : 'columnmulti2d',
            data: data,
            labels:labels,
            title : '用户推广成本',
            subtitle : '单位:千',
            footnote : '数据来源：运营成本',
            width : 1200,
            height : 400,
            background_color : '#ffffff',
            legend:{
                enable:true,
                background_color : null,
                border : {
                    enable : false
                }
            },
            coordinate:{
                background_color : '#f1f1f1',
                scale:[{
                    position:'left',
                    start_scale:0,
                    end_scale:250,
                    scale_space:50
                }],
                width:1100,
                height:260
            }
        });
        chart.draw();
    });
</script>
<div class="col-lg-12">
    <div id='columnmulti2d'></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <% for(var i=1;i<32;i++){ %>
            <th><%=i%></th>
            <% } %>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>单个活跃用户推广成本</td>
            <% cost.forEach(function( a ){%>
            <td><%= a %></td>
            <%});%>
        </tr>
        <tr>
            <td>单个付费用户推广成本</td>
            <% output.forEach(function( a ){%>
            <td><%= a %></td>
            <%});%>
        </tr>
        </tbody>
    </table>

</div>


<% include footer.ejs %>
