<!--用户等级排名-->
<% include nav.ejs %>

<% include select_date.ejs %>
<% include save_print.ejs %>


<div class="col-lg-12">
    <div id='canvasDiv'></div>
    <table id="table_first_charge" class="table table-bordered">
        <thead>
        <tr>
            <th>排名</th>
            <th>名称</th>
            <th>等级</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>轩辕射手</td>
            <td>100</td>
        </tr>
        <tr>
            <td>2</td>
            <td>轩辕射手</td>
            <td>100</td>
        </tr>
        </tbody>
    </table>
</div>

<% include footer.ejs %>