<!--用户等级排名-->
<% include nav.ejs %>
<% include select_date.ejs %>
<% include save_print.ejs %>
<div class="col-lg-12">
    <h3 align="center">用户等级排名</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>排名</th>
            <th>名称</th>
            <th>等级</th>
        </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url: '/gradeRank',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var rank = result.data;
                var html = "";
                if(rank.length){
                    rank.forEach(function(a){
                        html += "<tr>";
                        html += "<td>"+ a.rank +"</td>";
                        html += "<td>"+ a.name +"</td>";
                        html += "<td>"+ a.grade +"</td>";
                        html += "</tr>";
                    });
                }
                $('tbody').empty().html(html);
            }
        });
    });

</script>

<% include footer.ejs %>