<!--用户任务分布-->
<% include nav.ejs %>
<% include select_date.ejs %>
<% include save_print.ejs %>

<div class="col-lg-12">
    <h3 align="center">用户任务分布</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>任务ID</th>
            <th>任务名称</th>
            <th>人数</th>
            <th>占比</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/javascript">
    $(function(){
        //初始化日期插件
        $("#datePicker").datepicker( dateOption );
        $.ajax({
            url: '/taskDistribute',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var rank = result.data;
                var html = "";
                if(rank.length){
                    rank.forEach(function(a){
                        html += "<tr>";
                        html += "<td>"+ a.id +"</td>";
                        html += "<td>"+ a.taskId +"</td>";
                        html += "<td>"+ a.taskName +"</td>";
                        html += "<td>"+ a.people +"</td>";
                        html += "<td>"+ a.percent +"</td>";
                        html += "</tr>";
                    });
                }
                $('tbody').empty().html(html);
            }
        });
    });

</script>
<% include footer.ejs %>