<!--日均战场次数-->
<% include nav.ejs %>
<% include select_date.ejs %>
<% include save_print.ejs %>
<script type="text/javascript">
    $(function(){
        //初始化日期插件
        $("#datePicker").datepicker( dateOption );
        var labels = [];
        for(var i=0;i<20;i++){
            labels[i] = i + 1;
        }
        var options = {
            render : 'barmulti2d',
            data: '',
            labels:labels,
            title : {
                text:'日均战场次数',
                color:'#585757'
            },
            subtitle : {
                text:'',
                color:'#797373'
            },
            footnote : '数据来源：日均战场次数',
            width : 1200,
            height : 600,
            background_color : '#ffffff',
            legend:{
                enable:true,
                background_color : null,
                border : {
                    enable : false
                }
            },
            coordinate:{
                scale:[{
                    position:'bottom',
                    start_scale:0,
                    end_scale:0,
                    scale_space:0
                }],
                background_color : null,
                axis : {
                    width : 0
                },
                width:1000,
                height:400
            }
        };
        $.ajax({
            url: '/battlefield',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                console.log('==========result',result);
                var data = [
                    {
                        name : '日均战场次数',
                        value:result.data,
                        color:'#47b2c8'
                    }
                ];
                options.data = data;
                var chart = new iChart.BarMulti2D(options);
                chart.draw();
            }
        });


    });
</script>
<div class="col-lg-12">
    <div id='barmulti2d'></div>
</div>

<% include footer.ejs %>
