<% include nav.ejs %>

<script type="text/javascript" src="/js/ichartjs/ichart.1.2.min.js"></script>
<link rel="stylesheet" href="/css/ichartjs/demo.css" type="text/css"/>
<br><br><br>
<script type="text/javascript">
    $(function(){
        var data = [
            {
                name : '日均战场次数',
                value:[4500,5200,5400,7400,9000,8400,7300,6800,8700,3900,4500,6500,9000,8400,7300,6800,8700,3900,4500,6500],
                color:'#47b2c8'
            }
        ];
        var labels = [];
        for(var i=0;i<20;i++){
            labels[i] = i + 1;
        }
        var chart = new iChart.BarMulti2D({
            render : 'barmulti2d',
            data: data,
            labels:labels,
            title : {
                text:'日均战场次数',
                color:'#585757'
            },
            subtitle : {
                text:'2012上半年DPS01A型号与DPS01B型号的鼠标销售比较,单位:万台',
                color:'#797373'
            },
            footnote : '数据来源：日均战场次数',
            width : 1200,
            height : 600,
            background_color : '#ffffff',
            legend:{
                enable:true,
                background_color : null,
                border : {
                    enable : false
                }
            },
            coordinate:{
                scale:[{
                    position:'bottom',
                    start_scale:0,
                    end_scale:12000,
                    scale_space:2000
                }],
                background_color : null,
                axis : {
                    width : 0
                },
                width:1000,
                height:400
            }
        });
        chart.draw();
    });
</script>
<div class="col-lg-12">
    <div id='barmulti2d'></div>
</div>

<% include footer.ejs %>
