<% include nav.ejs %>

<div class="row">
    <div class="col-lg-12">
        <h1>首页 <small>运营后台数据查询系统</small></h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> 首页</li>
        </ol>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            郑州三生石科技有限公司<br>
            <font color="red">运营数据后台查询系统</font>
        </div>
    </div>
</div><!-- /.row -->

<% include footer.ejs %>