<script type="text/javascript" src="/js/selectbox/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/selectbox/prettify.js"></script>
<script type="text/javascript" src="/js/selectbox/jquery.multiselect.js"></script>
<script type="text/javascript" src="/js/selectbox/jquery.multiselect.filter.js"></script>

<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery.multiselect.filter.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/style.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/prettify.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery-ui.css" />

<script type="text/javascript">
    $(function(){
        $( "#datepicker" ).datepicker({
            showWeek: true,
            firstDay: 1,
            numberOfMonths: 2,
            dateFormat:'yy-mm-dd',
            onClose: function( selectedDate ) {
                $( "#datepicker" ).datepicker( "option", "minDate", selectedDate );
                console.log($( "#datepicker").val());
            }
        });
        //selectbox 插件
        $("select").multiselect().multiselectfilter();
    });
</script>
<br><br><br>
<div id="test" onload="prettyPrint();"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <p>
                <select title="platform" multiple="multiple" id="platform" name="platform" size="5">

                </select>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <select title="myselect" multiple="multiple" id="myselect" name="myselect" size="5">
                </select>
            </p>
        </div>
        <div class="col-lg-3">
            <label for="datepicker">选择日期</label>
            <input type="text" id="datepicker">
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //动态获取运营平台
        $.ajax({
            url: '/getPlatforms',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                console.log(result);
                var platforms = result.platforms;
                var option = '';
                for(var i=0;i<platforms.length;i++){
                    console.log('=====:',platforms[i]['name']);
                    option += '<option value="' + platforms[i]['name'] + '">' + platforms[i]['name'] + '</option>';
                }
                $('#platform').append(option);
                $('#platform').multiselect( 'refresh' );//刷新select数据
            }
        });
        //单个选择事件
//        $("#platform").on("multiselectclick", function(event, ui) {
//            console.log('=====event:',event);
//            console.log('=====ui:',ui);
//            $.ajax({
//                url: '/getServers?name='+ui.value,
//                type: 'get',
//                dataType: 'json',
//                async: false,
//                success: function (result) {
//                    var servers = result.servers[0].server;
//                    var option = '';
//                    for(var i=0;i<servers.length;i++){
//                        console.log('=====:',servers[i]);
//                        option += '<option value="' + servers[i] + '">' + servers[i] + '</option>';
//                    }
//                    $('#myselect').append(option);
//                    $('#myselect').multiselect( 'refresh' );//刷新select数据
//                }
//            });
//        });

        //选择平台之后，相应的区服列表动态更新
        $('#platform').on('change',function(){
            //需要修改
            var selected = $('#platform').val();
            console.log('=====selected:',selected);
            var servers = [];
            for(var i=0;i<selected.length;i++ ){
                $.ajax({
                    url: '/getServers?name='+selected[i],
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        var server = result.servers[0].server;
                        servers.push( server );
                    }
                });
            }
            console.log('选中平台下的区服：',servers);
            var option = '';
            for(var i=0;i<servers.length;i++){
                for(var j = 0; j < servers[i].length; j++) {
                    option += '<option value="' + servers[i][j] + '">' + servers[i][j] + '</option>';
                }
            }
            //清空select options
            $('#myselect').empty();
            //重新加载option
            $('#myselect').append(option);
            //刷新select数据
            $('#myselect').multiselect( 'refresh' );
        });

    });
</script>