<script type="text/javascript" src="/js/selectbox/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/selectbox/prettify.js"></script>
<script type="text/javascript" src="/js/selectbox/jquery.multiselect.js"></script>
<script type="text/javascript" src="/js/selectbox/jquery.multiselect.filter.js"></script>

<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery.multiselect.filter.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/style.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/prettify.css" />
<link rel="stylesheet" type="text/css" href="/css/selectbox/jquery-ui.css" />

<script type="text/javascript">
    //全局变量 日期配置项
    var dateOption = {//添加日期选择功能
        numberOfMonths:2,//显示几个月
        showButtonPanel:true,//是否显示按钮面板
        dateFormat: 'yy-mm-dd',//日期格式
        clearText:"清除",//清除日期的按钮名称
        closeText:"关闭",//关闭选择框的按钮名称
        yearSuffix: '年', //年的后缀
        showMonthAfterYear:true,//是否把月放在年的后面
        monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
        dayNamesMin: ['日','一','二','三','四','五','六'],
        onSelect: function(selectedDate) {//选择日期后执行的操作
            console.log(selectedDate);
            var mark = $('#mark').val();
            console.log('mark:',mark);
        }
    };
    $(function(){
        //selectbox 插件
        $("select").multiselect().multiselectfilter();
    });
</script>
<br><br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <p>
                <select title="platform" multiple="multiple" id="platform" name="platform" size="5">

                </select>
            </p>
        </div>
        <div class="col-lg-3">
            <p>
                <select title="servers" multiple="multiple" id="servers" name="servers" size="5">
                </select>
            </p>
        </div>
        <div class="col-lg-3">
            <label for="datePicker">选择日期</label>
            <input type="text" id="datePicker">
        </div>
    </div>
</div>
<input style="display:none;" id="mark" name="mark" value=""/>
<script>
    $(document).ready(function(){
        //动态获取运营平台
        $.ajax({
            url: '/getPlatforms',
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (result) {
                var platforms = result.platforms;
                var option = '';
                for(var i=0;i<platforms.length;i++){
                    option += '<option value="' + platforms[i]['name'] + '">' + platforms[i]['name'] + '</option>';
                }
                $('#platform').append(option);
                //刷新select数据
                $('#platform').multiselect( 'refresh' );
            }
        });
        //单个选择事件
//        $("#platform").on("multiselectclick", function(event, ui) {
//            console.log('=====event:',event);
//            console.log('=====ui:',ui);
//            $.ajax({
//                url: '/getServers?name='+ui.value,
//                type: 'get',
//                dataType: 'json',
//                async: false,
//                success: function (result) {
//                    var servers = result.servers[0].server;
//                    var option = '';
//                    for(var i=0;i<servers.length;i++){
//                        console.log('=====:',servers[i]);
//                        option += '<option value="' + servers[i] + '">' + servers[i] + '</option>';
//                    }
//                    $('#servers').append(option);
//                    $('#servers').multiselect( 'refresh' );//刷新select数据
//                }
//            });
//        });

        //选择平台之后，相应的区服列表动态更新
        $('#platform').on('change',function(){
            //需要修改
            var selected = $('#platform').val();
            console.log('=====selected:',selected);
            var servers = [];
            for(var i=0;i<selected.length;i++ ){
                $.ajax({
                    url: '/getServers?name='+selected[i],
                    type: 'get',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        var server = result.servers[0].server;
                        servers.push( server );
                    }
                });
            }
            var option = '';
            for(var i=0;i<servers.length;i++){
                for(var j = 0; j < servers[i].length; j++) {
                    option += '<option value="' + servers[i][j] + '">' + servers[i][j] + '</option>';
                }
            }
            //清空select options
            $('#servers').empty();
            //重新加载option
            $('#servers').append(option);
            //刷新select数据
            $('#servers').multiselect( 'refresh' );
        });

    });
</script>